
/* ---------- markdown cells
 */

body.rise-enabled div.inner_cell>div.text_cell_render.rendered_html {
    font-size: 80%;
}


/* ---- tables inside markdown cells
*/
body.rise-enabled div.inner_cell>div.text_cell_render.rendered_html>table {
    font-size: 100%
}


/* ---------- code cells - input
*/
body.rise-enabled div.inner_cell>div.input_area {
    font-size: 140%;
}

/* ---------- code cells - output
*/
body.rise-enabled div.output_subarea.output_text.output_result {
    font-size: 140%;
}

body.rise-enabled div.output_subarea.output_text.output_stream.output_stdout {
  font-size: 140%;
}
body.rise-enabled div.output_subarea.output_text.output_error {
  font-size: 110%;
}

/* -------- displaying dataframes
*/
body.rise-enabled table.dataframe {
  font-size: 80%;
}
body.rise-enabled table.dataframe > thead > tr > th {
  text-align: left;
}
body.rise-enabled table.dataframe > thead > tr > td {
  text-align: right;
}
body.rise-enabled table.dataframe > tbody > tr > td {
  text-align: right;
}

/* -------- displaying documentation
*/

body.rise-enabled div.container {
    font-size: 180%;
}

/* --------- title slide
*/

/*
.title-slide {
    font-size: 150%;
    text-align: center;
}
*/
body.rise-enabled .title-slide {
    color: #586e75;
    font-family: "Lato", sans-serif;
    font-size: 2.5em;
    text-align: center;
    text-transform: none;

}



/* Block quotes */
body.rise-enabled blockquote {
  width: 85%;
}

body.rise-enabled > div.fragment.visible.current-fragment > div.cell.code_cell.rendered.selected > div.output_wrapper > div.output > div > div.output_subarea.output_text.output_result > pre